html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;

    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color: #f3f3f3;
}

.questions {
    list-style: none;
    text-align: center;

    margin: 10px 0 0 0;
    padding: 0;
}

.answer {
    display: none;
    margin: auto;
    width: 80%;

    text-align: left;
    
}

.code {
    word-wrap: break-word;

    font-family: monospace;
    background-color: rgba(88, 88, 88, 0.253);

    padding: 5px;
    border-radius: 5px;
}

/*
    Responsive scaling
*/

@media screen and (max-width:1024px) {
    html {
        font-size: 18px;
    }

}

@media screen and (max-width:768px) {
    html {
        font-size: 20px;
    }
}
